<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsd.mapper.CommentMapper" >
  
  
  	<select id="listInfor" resultType="hashmap">
  		SELECT c.name,c.ByMemberId,a.type,a.time,b.time as Ontime,b.state 
  		FROM R_DEVICE_INFOR b,R_ALARM a,R_DEVICE c
  		WHERE 
  			a.DeviceId = b.deviceinforID and
  			b.bydeviceID = c.deviceID
  	</select>
  	<select id="listPageInfor" parameterType="int" resultType="hashmap">
        SELECT c.name,c.ByMemberId,a.type,a.time,b.time as Ontime,b.state 
  		FROM R_DEVICE_INFOR b,R_ALARM a,R_DEVICE c
  		WHERE a.DeviceId=b.deviceinforID and
  			b.bydeviceID=c.deviceID
  		limit #{s},#{e}
        
        
	</select>
    <select id="listPosition" resultType="hashmap">
	    select c.`Name`,a.x,a.y  from (select * from (
	    		select * from r_device_infor order by Time desc limit 100000
				) as t
			GROUP BY t.ByDeviceId) as a,r_device as b,r_member c
		WHERE a.bydeviceId=b.DeviceId
		AND b.ByMemberId=c.MemberId
    	
    </select>
</mapper>