<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsd.mapper.RMemberMapper" >
  <resultMap id="BaseResultMap" type="com.hsd.model.RMember" >
    <result column="MemberId" property="memberid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Level" property="level" jdbcType="INTEGER" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Age" property="age" jdbcType="INTEGER" />
    <result column="Height" property="height" jdbcType="DOUBLE" />
    <result column="Weight" property="weight" jdbcType="DOUBLE" />
    <result column="ByGroup" property="bygroup" jdbcType="VARCHAR" />
    <result column="Flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    MemberId, Name, Level, Phone, Age,Height,Weight,ByGroup,Flag
  </sql>
  <insert id="insert" parameterType="com.hsd.model.RMember" >
    insert into r_member (MemberId, Name, Level,
      Phone, Age, Height,
      Weight, ByGroup, Flag
      )
    values (#{memberid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER},
      #{phone,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{height,jdbcType=DOUBLE},
      #{weight,jdbcType=DOUBLE}, #{bygroup,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hsd.model.RMember" >
    insert into r_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberid != null" >
        MemberId,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="level != null" >
        Level,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="age != null" >
        Age,
      </if>
      <if test="height != null" >
        Height,
      </if>
      <if test="weight != null" >
        Weight,
      </if>
      <if test="bygroup != null" >
        ByGroup,
      </if>
      <if test="flag != null" >
        Flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="bygroup != null" >
        #{bygroup,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="GetALLList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from r_member
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsd.model.RMember" >
    update r_fence
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="bygroup != null" >
        #{bygroup,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
    where FenceId = #{fenceid,jdbcType=INTEGER}
  </update>
</mapper>